@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

.header-content{
    margin: 0 auto;
    display: flex;
    max-width: 1280px;
    justify-content: space-between;
    padding: 1rem 0;
    /* background-color: rgba(213, 203, 203, 0.342); */
    /* border-radius: 10px; */
}
.logo{
    display: flex;
    align-items: center;
    font-weight:bold;
    color: var(--text-color);
    gap: 0.65rem;
}
.img-icon{
    /* height:1.875rem; */
    width:1.937rem;
    margin-left: 0.5rem;
}
.logo-text{
    font-size:2rem;
    font-weight: bold;
}
nav{
    display: none;
    gap:1rem;
}

@media screen and (min-width: 820px){
    nav{display: flex};                
}

.nav-link{
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
    margin: auto;
}

.nav-link:hover{
    color:var(--link-color);
}

.contact-button{
    display: none;
    border: none;
    border-radius: 0.475rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 0.5rem;
}
@media screen and (min-width: 750px){
    .contact-button{display: block};                
}

.contact-button:hover{
    background-color: rgb(66, 66, 169);
}

.menu_button{
    display: none;
    margin-right: 0.7rem;
    border: none;
}

@media screen and (max-width:750px) {
    .menu_button{
        display: block;
    }
}
@media screen and (max-width:285px) {
    .menu_button{
        display: none;
    }
}

.main_section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0.6rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* margin-bottom: 10rem; */
}

.content_left{
    align-items: center;
    animation: slideFromLeft 1.5s ease forwards;
    opacity:0;

}

@keyframes slideFromLeft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

.section_label{
    font-size: 1.15rem;
    font-weight:600;
    color: var(--primary-color);
}
.section_title{
    font-size: 2.3rem;
    padding:1.1rem;

}
.section_des{
    font-size: 1.13rem;
    color: var(--gray);
}


.button_group{
    display: flex;
    gap: 2rem;
    padding: 1rem;
    /* margin-top:1rem; */
    align-items: center;
    justify-content: center;
}
.start_button,.tour_button{
    border: none;
    border-radius: 0.475rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all  0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.tour_button{
    background-color: var(--dark-gray);
}

.start_button:hover{
    background-color: rgb(69, 69, 199);
}
.tour_button:hover{
    background-color: rgb(36, 34, 34);
}

.content_right{
    display: flex;
    align-items: center;
    justify-content:center;
}

.image_container{
    border: none;
    border-radius: 1.2rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;
}

.section_image{
    height:100%;
    width: 100%;
}

@media screen and (min-width: 768px){
    .main_section{
        flex-direction: row;
    }
    .content_left{
        max-width: 50%;
        text-align: left;
        
    }
    .section_title{
        padding-left: 0;
    }
    .button_group{
        justify-content: start;
        padding-left:0;
    }
    .section_label{
        font-size: 1rem;
    }
    .section_title{
        font-size: 3.5rem;
    }
    .image_container{
        height: 65vh;
    }
    .section_des{
        font-size: 1.1rem;
        color: var(--gray);
        width: 90%;
    }
}

.company-container{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    animation: slideFromLeft 2s ease forwards;
   
}
.company-grid{
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 3rem;
    padding:1rem;
    background-color: var(--light-gray);
    margin-top: 2rem;
    padding: 1.5rem 2.5rem;
    padding-bottom: 3rem;
    margin-bottom: 2rem;

}

.company-logo{
    font-size:1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;

}

.svg-img{
    height: 1.4rem;
}

@media screen and (min-width:640px){
    .company-grid{
        grid-template-columns: repeat(4,1fr);
    }
    .company-title{
        font-size:2.7rem;
        font-weight: bold;
    }
}
.feature-container{
    background-color: var(--light-gray);
    padding:2rem 0;
    text-align: center;
}

.feature-content{
    max-width: 750px;
    margin: auto;
}

.main-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main-title{
    font-size: 2.1rem;
    font-weight: bold;
}



.main-description{
    color: var(--gray);
}

.feature-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    margin-top: 1.3rem;
    color: rgb(237, 230, 230);
    
}
.feature-svg{
    width: 1.5rem;
}
.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--background-color);
    margin-bottom: 1rem;
}
.feature-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding: 2rem;
}
.feature-card:nth-child(1){
    background-color: #4a90e2;
}
.feature-card:nth-child(2){
    background-color: #ff6289;
}
.feature-card:nth-child(3){
    background-color: #fcbf58;
}
.feature-card:nth-child(4){
    background-color: #44bfc3;
}
.feature-card:nth-child(5){
    background-color: #77b05d;
}
.feature-card:nth-child(6){
    background-color: #7d78b1;
}
.feature-info{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.feature-title{
    font-weight:bold;
    font-size:1.3rem;
}

@media screen and (max-width: 668px){
    .feature-grid{
        grid-template-columns: repeat(1,1fr);
        margin: 1rem;
    }
    
}

.testimonial-container{
    background-color: var(--background-color);
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 1200px;
}

.testimonial-title{
    font-size: 1.876rem;
    font-weight: bold;
    margin:2rem;
}
.testimonial-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.testimonial-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(310px,1fr));
    gap: 1.5rem;
    
}

.testimonial-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(45, 43, 43);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 1.2rem;
    gap: 1rem;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.testimonial-card:hover{
    transform: scale(1.04);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid blue;
}
.testimonial-avatar img{
    width: 5rem;
    height: 5rem;
}
.testimonial-text{
    font-size: 0.875rem;
    color: #555;
}
.testimonial-name{
    color: var(--primary-color);
    font-size: 1rem;
}

.testimonial-desc{
    font-size: 0.875rem;
    color: #777;
}

.newsletter-container{
    background-color: var(--background-color);
    padding:2rem;
    max-width: 1200px;
    /* max-width: 72%; */
    height: 40vh;
    margin: 0 auto;
}
.newsletter-content{
    display: flex;
    flex-direction: row;
    background-color: var(--light-gray);
    height: 100%;
    border-radius: 1rem;
    overflow: hidden;
}



.news-left{
    height: 100%;
    width: 50%;
}
.news-left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
@media screen and (max-width:786px){
    .newsletter-content{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .news-left{
        width: 100%;
    }
    .newsletter-container{
        background-color: var(--background-color);
        padding:2rem;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }  
}


.news-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    width: 50%;
}

.privcy-policy{
    width: auto;
    /* border: 2px solid red; */
}
.privcy-policy>p{
    margin: 0;
    padding: 0;
}

.news-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding: 3rem; */
}


.news-title{
    color: var(--accent-color);
    font-size: 2.3rem;
    font-weight: bold;
}
.news-desc{
    font-size:1rem;
    color: var(--gray);
}
.news-email{
    background-color:var(--background-color);
    height: 1.6rem;
    width: 13rem;
    border:1px solid var(--gray);
    border-radius: 4px;
    padding-left: 5px;
}
.news-email:focus{
    /* border:1px solid rgb(12, 12, 236); */
    outline: none;
    box-shadow: 0 2px 4px rgba(19, 19, 228, 0.553);
}
.news-send-button{
    color: var(--background-color);
    background-color: var(--accent-color);
    height: 1.6rem;
    width: 4rem;
    border-radius: 0.2rem;
}
.news-send-button:hover{
    background-color: rgb(54, 54, 210);
}
.news-link{
    color: #3f75ea;
}
@media screen and (max-width:650px){
     .news-form{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items:center;
     }
}

.footer-container{
    background-color: var(--background-color);
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    border-bottom: 1px solid rgba(154, 143, 143, 0.416);
    margin-bottom:1rem;

}

.footer{
    max-width: 1280px;
    padding: 1.2rem 2.4rem;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-top{
    width: 33%; 
}
.company-logo{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: -1.9rem;
}
.social-icon{
    width:1.8rem;
    height: 1.8rem;
}

.logo-svg{
    height: 1.5rem;
}
.logo-link{
    font-size: 1.6rem;
    font-weight: bold;
    color: black;
}

.footer-grid{
    display: grid;
    width: 58%;
    gap: 5.67rem;
    grid-template-columns: repeat(4,1fr);
    padding: 0.5rem 1rem;
}

.social{
    display: flex;
    gap: 1rem;
}

ul{
    list-style-type: none;
}
.footer-grid-heading{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 1rem;
}

.footer-links-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-link{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (max-width:1000px) {
    
    .footer-grid{   
        max-width: 70%;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }
    .footer-top{
        padding-bottom: 5rem;
    }
    
}
@media screen and (max-width:680px) {
    .footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-top{
        width: 70%; 
    }
    
}

.footer-copyright{
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}